<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>https://buswork01-001-site1.gtempurl.com:8172/MsDeploy.axd?site=buswork01-001-site1</MSDeployServiceURL>
    <DeployIisAppPath>buswork01-001-site1</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>ifc\buswork01-001</UserName>
    <_SavePWD>False</_SavePWD>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="BookingContext" Order="1" Enabled="False">
          <Destination Path="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A3A807_bus;User ID=DB_A3A807_bus_admin;Password=buswork12345" Name="Data Source=SQL7001.site4now.net;Initial Catalog=DB_A3A807_bus;User Id=DB_A3A807_bus_admin;Password=buswork12345;MultipleActiveResultSets=True" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="BookingSystem.API.Models.BookingContext, BookingSystem.API" MigrationConfiguration="BookingSystem.API.Migrations.Configuration, BookingSystem.API" Origin="Configuration" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="BookingContext-Web.config Connection String">
      <ParameterValue>Data Source=SQL7001.site4now.net;Initial Catalog=DB_A3A807_bus;User Id=DB_A3A807_bus_admin;Password=buswork12345;MultipleActiveResultSets=True</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="BookingContext-Web.config Connection String">
      <ParameterValue>data source=SQL7001.site4now.net;initial catalog=DB_A3A807_bus;user id=DB_A3A807_bus_admin;password=buswork12345;multipleactiveresultsets=True;App=EntityFramework</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>