<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="JWT_ISSUER" value="http://booking-system-api.com"/>
  <add key="JWT_SECRET" value="Tw$9EsB'!L6qk!J[gcE]p=L_SmBS+_"/>
  <add key="API_KEY" value="dhBqESwcpHmG9DV6VRnpz3NKDv6eKq2V"/>
  <add key="EmailSource" value="noreply.bus.work@gmail.com"/>
  <add key="EmailPassword" value="buswork12345"/>
  <add key="EmailHost" value="smtp.gmail.com" />
  <add key="EmailPort" value="587"/>
  <add key="TwilioClientId" value=""/>
  <add key="TwilioClientSecret" value=""/>
  <add key="TwilioDispatchContact" value=""/>
  <add key="HubtelClientId" value=""/>
  <add key="HubtelClientSecret" value=""/>
  <add key="HubtelMerchantAccount" value=""/>
  <add key="AMSPAYMENT_APP_ID" value=""/>
  <add key="AMSPAYMENT_API_KEY" value=""/>
  <add key="MNOTIFY_KEY" value="b85557b9b290a56baf53"/>
  <add key="SPAY_API_VER" value="1.4"/>
  <add key="SPAY_EMAIL" value="supremeomnipotentgod@yahoo.com"/>
  <add key="SPAY_API_KEY" value="1527705663281"/>
  <add key="SPAY_INTEGRATION" value="true"/>
</appSettings>